<section class="mainForm">
    <div class="">
        <form action="/form" method="post" onsubmit="return validateForm()">
            <div class="">
                <div class="form">
                    <label for="">Select One: </label><br>

                    <div class="formBox">
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s1}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio1" value="قالون عن نافع">
                                {{#if unlock.s1}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">1</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s2}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio2" value="ورش عن نافع">
                                {{#if unlock.s2}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">2</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s3}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio3" value="البزي عن ابن كثير ">
                                {{#if unlock.s3}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">3</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s4}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio4" value="قنبل عن ابن كثير ">
                                {{#if unlock.s4}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">4</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s5}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio5" value="الدوري عن أبي عمرو">
                                {{#if unlock.s5}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">5</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s6}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio6" value="السوسي عن أبي عمرو">
                                {{#if unlock.s6}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">6</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s7}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio7" value="هشام عن ابن عامر">
                                {{#if unlock.s7}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">7</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s8}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio8" value="ابن ذكوان عن ابن عامر">
                                {{#if unlock.s8}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">8</p>{{/if}}
                            </label>
                        </div>

                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s9}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio9" value="شعبة عن عاصم">
                                {{#if unlock.s9}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">9</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s10}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio10" value="الدوري عن الكسائي">
                                {{#if unlock.s10}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">10</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s11}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio11" value="خلف عن حمزة">
                                {{#if unlock.s11}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">11</p>{{/if}}
                            </label>
                        </div>

                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s12}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio12" value="خلاد عن حمزة">
                                {{#if unlock.s12}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">12</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s13}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio13" value="ابو الحارث عن الكسائي">
                                {{#if unlock.s13}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">13</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s14}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio14" value="الدوري عن الكسائي">
                                {{#if unlock.s14}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">14</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s15}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio15" value="قالون عن نافع">
                                {{#if unlock.s15}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">15</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s16}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio16" value="ورش عن نافع">
                                {{#if unlock.s16}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">16</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s17}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio17" value="البزي عن ابن كثير ">
                                {{#if unlock.s17}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">17</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s18}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio18" value="قنبل عن ابن كثير ">
                                {{#if unlock.s18}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">18</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s19}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio19" value="الدوري عن أبي عمرو">
                                {{#if unlock.s19}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">19</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s20}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio20" value="السوسي عن أبي عمرو">
                                {{#if unlock.s20}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">20</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s21}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio21" value="هشام عن ابن عامر">
                                {{#if unlock.s21}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">21</p>{{/if}}
                            </label>
                        </div>

                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s22}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio22" value="ابن ذكوان عن ابن عامر">
                                {{#if unlock.s22}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">22</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s23}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio23" value="شعبة عن عاصم">
                                {{#if unlock.s23}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">23</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s24}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio24" value="خلف عن حمزة">
                                {{#if unlock.s24}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">24</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s25}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio25" value="خلاد عن حمزة">
                                {{#if unlock.s25}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">25</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s26}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio26" value="ابو الحارث عن الكسائي">
                                {{#if unlock.s26}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">26</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s27}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio27" value="الدوري عن الكسائي">
                                {{#if unlock.s27}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">27</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s28}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio28" value="السوسي عن أبي عمرو">
                                {{#if unlock.s28}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">28</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s29}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio29" value="شعبة عن عاصم">
                                {{#if unlock.s29}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">29</p>{{/if}}
                            </label>
                        </div>
                        <div class="numIco">

                            <label>
                                <input {{#if unlock.s30}}class="form-check-input d-none" disabled{{else}}
                                    class="form-check-input d-none radioImage" {{/if}} type="radio" name="Program"
                                    id="formRadio30" value="خلاد عن حمزة">
                                {{#if unlock.s30}}<p class="numIcon nump">selected</p>
                                {{else}}<p class="numIcon">30</p>{{/if}}
                            </label>
                        </div>

                        <br>
                        <input type="text" name="Name" value="{{user.Name}}" hidden>
                        <input type="text" name="userId" value="{{user._id}}" hidden>
                        <input type="radio" name="RadioName" value="formRadio1" id="sherikkum1" hidden>
                        <input type="radio" name="RadioName" value="formRadio2" id="sherikkum2" hidden>
                        <input type="radio" name="RadioName" value="formRadio3" id="sherikkum3" hidden>
                        <input type="radio" name="RadioName" value="formRadio4" id="sherikkum4" hidden>
                        <input type="radio" name="RadioName" value="formRadio5" id="sherikkum5" hidden>
                        <input type="radio" name="RadioName" value="formRadio6" id="sherikkum6" hidden>
                        <input type="radio" name="RadioName" value="formRadio7" id="sherikkum7" hidden>
                        <input type="radio" name="RadioName" value="formRadio8" id="sherikkum8" hidden>
                        <input type="radio" name="RadioName" value="formRadio9" id="sherikkum9" hidden>
                        <input type="radio" name="RadioName" value="formRadio10" id="sherikkum10" hidden>
                        <input type="radio" name="RadioName" value="formRadio11" id="sherikkum11" hidden>
                        <input type="radio" name="RadioName" value="formRadio12" id="sherikkum12" hidden>
                        <input type="radio" name="RadioName" value="formRadio13" id="sherikkum13" hidden>
                        <input type="radio" name="RadioName" value="formRadio14" id="sherikkum14" hidden>
                        <input type="radio" name="RadioName" value="formRadio15" id="sherikkum15" hidden>
                        <input type="radio" name="RadioName" value="formRadio16" id="sherikkum16" hidden>
                        <input type="radio" name="RadioName" value="formRadio17" id="sherikkum17" hidden>
                        <input type="radio" name="RadioName" value="formRadio18" id="sherikkum18" hidden>
                        <input type="radio" name="RadioName" value="formRadio19" id="sherikkum19" hidden>
                        <input type="radio" name="RadioName" value="formRadio20" id="sherikkum20" hidden>
                        <input type="radio" name="RadioName" value="formRadio21" id="sherikkum21" hidden>
                        <input type="radio" name="RadioName" value="formRadio22" id="sherikkum22" hidden>
                        <input type="radio" name="RadioName" value="formRadio23" id="sherikkum23" hidden>
                        <input type="radio" name="RadioName" value="formRadio24" id="sherikkum24" hidden>
                        <input type="radio" name="RadioName" value="formRadio25" id="sherikkum25" hidden>
                        <input type="radio" name="RadioName" value="formRadio26" id="sherikkum26" hidden>
                        <input type="radio" name="RadioName" value="formRadio27" id="sherikkum27" hidden>
                        <input type="radio" name="RadioName" value="formRadio28" id="sherikkum28" hidden>
                        <input type="radio" name="RadioName" value="formRadio29" id="sherikkum29" hidden>
                        <input type="radio" name="RadioName" value="formRadio30" id="sherikkum30" hidden>

                        <input type="submit" class="btn button btn-lg" value="Submit">
                        {{#if loginErr}}
                        <div class="alert alert-danger" id="hideMe">
                            {{loginErr}}
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </form>

        <script>

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio1');
                const sherikkum1 = document.getElementById('sherikkum1');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio2');
                const sherikkum1 = document.getElementById('sherikkum2');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio3');
                const sherikkum1 = document.getElementById('sherikkum3');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio4');
                const sherikkum1 = document.getElementById('sherikkum4');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio5');
                const sherikkum1 = document.getElementById('sherikkum5');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio6');
                const sherikkum1 = document.getElementById('sherikkum6');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio7');
                const sherikkum1 = document.getElementById('sherikkum7');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio8');
                const sherikkum1 = document.getElementById('sherikkum8');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio9');
                const sherikkum1 = document.getElementById('sherikkum9');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio10');
                const sherikkum1 = document.getElementById('sherikkum10');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio11');
                const sherikkum1 = document.getElementById('sherikkum11');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio12');
                const sherikkum1 = document.getElementById('sherikkum12');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio13');
                const sherikkum1 = document.getElementById('sherikkum13');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio14');
                const sherikkum1 = document.getElementById('sherikkum14');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio15');
                const sherikkum1 = document.getElementById('sherikkum15');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio16');
                const sherikkum1 = document.getElementById('sherikkum16');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio17');
                const sherikkum1 = document.getElementById('sherikkum17');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio18');
                const sherikkum1 = document.getElementById('sherikkum18');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio19');
                const sherikkum1 = document.getElementById('sherikkum19');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio20');
                const sherikkum1 = document.getElementById('sherikkum20');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio21');
                const sherikkum1 = document.getElementById('sherikkum21');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio22');
                const sherikkum1 = document.getElementById('sherikkum22');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });
            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio23');
                const sherikkum1 = document.getElementById('sherikkum23');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio24');
                const sherikkum1 = document.getElementById('sherikkum24');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio25');
                const sherikkum1 = document.getElementById('sherikkum25');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio26');
                const sherikkum1 = document.getElementById('sherikkum26');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio27');
                const sherikkum1 = document.getElementById('sherikkum27');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });
            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio28');
                const sherikkum1 = document.getElementById('sherikkum28');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio29');
                const sherikkum1 = document.getElementById('sherikkum29');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });
            document.addEventListener('DOMContentLoaded', function () {
                const formRadio1 = document.getElementById('formRadio30');
                const sherikkum1 = document.getElementById('sherikkum30');

                formRadio1.addEventListener('change', function () {
                    sherikkum1.checked = this.checked;
                });
            });

            function changeImage(className) {
                const radioButtons = document.querySelectorAll('.' + className);

                radioButtons.forEach((radioButton) => {
                    const image = radioButton.parentNode.querySelector('.imageRadio');
                    if (radioButton.checked) {
                        image.src = '/images/unlocked.png';
                    } else {
                        image.src = '/images/lock.png';
                    }
                });
            }

            // Call the function when the radio buttons are clicked
            document.addEventListener('click', function (event) {
                const target = event.target;
                if (target.classList.contains('radioImage')) {
                    changeImage('radioImage');
                }
            });

            function validateForm() {
                var radioButtons = document.getElementsByName('Program');
                var isChecked = false;

                for (var i = 0; i < radioButtons.length; i++) {
                    if (radioButtons[i].checked) {
                        isChecked = true;
                        break;
                    }
                }

                if (!isChecked) {
                    alert('Please select an option before submitting.');
                    return false; // Prevent form submission
                }

                return true; // Allow form submission
            }

            function hideParagraph() {
                var paragraph = document.getElementById("hideMe");
                paragraph.style.display = "none";
            }

        </script>
        <script>
            function hideParagraph() {
                var paragraph = document.getElementById("hideMe");
                paragraph.style.display = "none";
            }

            document.addEventListener("DOMContentLoaded", function () {
                setTimeout(hideParagraph, 3000);
            });
        </script>
    </div>
</section>