<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            background-color: #7e1441;
            color: #7e1441;
        }
        h1 {
            text-align: center;
            color: #7e1441;
        }
        .profile-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 30px;
            background-color: #f8f8f8;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .avatar {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
            border: 2px solid #7e1441;
        }
        .user-details {
            line-height: 1.5;
        }
        p {
            margin: 8px 0;
        }
        .logout {
            font-size: 14px;
            padding: 6px 12px;
            background-color: #7e1441;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>User Profile</h1>
    <div class="profile-container">
        <img class="avatar" src="/images/user-images/{{userProfile._id}}.jpg" alt="User Avatar">
        <div class="user-details">
            <p><strong>Name:</strong> {{userProfile.Name}}</p>
            <p><strong>Email:</strong> {{userProfile.Email}}</p>
            <p><strong>Address:</strong> {{userProfile.Address}}</p>
            <p><strong>Age:</strong> {{userProfile.Age}}</p>
            <p><strong>Phone:</strong> {{userProfile.Phone}}</p>
            <p><strong>Place:</strong> {{userProfile.Place}}</p>
            <p><strong>District:</strong> {{userProfile.District}}</p>
            <p><strong>Date of Birth:</strong> {{userProfile.DOB}}</p>
            <p><strong>Institution:</strong> {{userProfile.Institution}}</p>
            <a href="/logout" class="btn logout btn-lg">Logout</a>
            <!-- Add more user details as needed -->
        </div>
    </div>
</body>
</html>